@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-white: #e2e2e2;
  --color-black: #161616;
  --color-gray-50: #e2e2e2;
  --color-gray-100: #e2e2e2;
  --color-gray-200: #e2e2e2;
  --color-gray-300: #e2e2e2;
  --color-gray-400: #161616;
  --color-gray-500: #161616;
  --color-gray-600: #161616;
  --color-gray-700: #161616;
  --color-gray-800: #161616;
  --color-gray-900: #161616;
  --color-red-100: #cd0721;
  --color-red-200: #cd0721;
  --color-red-300: #cd0721;
  --color-red-400: #cd0721;
  --color-red-500: #cd0721;
  --color-red-600: #cd0721;
  --color-red-700: #cd0721;
  --color-blue-500: #cd0721;
  --color-blue-600: #cd0721;
  --color-purple-500: #cd0721;
  --color-purple-600: #cd0721;
  --color-green-400: #cd0721;
  --color-green-500: #cd0721;
  --color-green-600: #cd0721;
  --color-pink-500: #cd0721;
  --color-indigo-500: #cd0721;
  --color-orange-500: #cd0721;
  --color-teal-500: #cd0721;
  --color-yellow-400: #cd0721;
}

:root {
  --radius: 0.625rem;
  --background: #e2e2e2;
  --foreground: #161616;
  --card: #e2e2e2;
  --card-foreground: #161616;
  --popover: #e2e2e2;
  --popover-foreground: #161616;
  --primary: #cd0721;
  --primary-foreground: #e2e2e2;
  --secondary: #161616;
  --secondary-foreground: #e2e2e2;
  --muted: #e2e2e2;
  --muted-foreground: #161616;
  --accent: #cd0721;
  --accent-foreground: #e2e2e2;
  --destructive: #cd0721;
  --border: #161616;
  --input: #161616;
  --ring: #cd0721;
  --chart-1: #cd0721;
  --chart-2: #161616;
  --chart-3: #e2e2e2;
  --chart-4: #cd0721;
  --chart-5: #161616;
  --sidebar: #e2e2e2;
  --sidebar-foreground: #161616;
  --sidebar-primary: #cd0721;
  --sidebar-primary-foreground: #e2e2e2;
  --sidebar-accent: #cd0721;
  --sidebar-accent-foreground: #e2e2e2;
  --sidebar-border: #161616;
  --sidebar-ring: #cd0721;
}

.dark {
  --background: #161616;
  --foreground: #e2e2e2;
  --card: #161616;
  --card-foreground: #e2e2e2;
  --popover: #161616;
  --popover-foreground: #e2e2e2;
  --primary: #cd0721;
  --primary-foreground: #e2e2e2;
  --secondary: #e2e2e2;
  --secondary-foreground: #161616;
  --muted: #161616;
  --muted-foreground: #e2e2e2;
  --accent: #cd0721;
  --accent-foreground: #e2e2e2;
  --destructive: #cd0721;
  --border: #e2e2e2;
  --input: #e2e2e2;
  --ring: #cd0721;
  --chart-1: #cd0721;
  --chart-2: #e2e2e2;
  --chart-3: #161616;
  --chart-4: #cd0721;
  --chart-5: #e2e2e2;
  --sidebar: #161616;
  --sidebar-foreground: #e2e2e2;
  --sidebar-primary: #cd0721;
  --sidebar-primary-foreground: #e2e2e2;
  --sidebar-accent: #cd0721;
  --sidebar-accent-foreground: #e2e2e2;
  --sidebar-border: #e2e2e2;
  --sidebar-ring: #cd0721;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
